[submodule "server"]
	path = server
	url = https://github.com/nosami/OmniSharpServer.git
[submodule "omnisharp-roslyn"]
	path = omnisharp-roslyn
	url = https://github.com/OmniSharp/omnisharp-roslyn.git
